.header {
    background-color: black;
    color: white;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.container {
    width: 100%;
    
    background-color: #f0f2f5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.form{

    color: #5a5a66;
    
    margin-right: 160px;

    width: 810px;

    flex: 1;

    padding: 6px;
    
    label{
        line-height: 24px;
        font-size: 16px;
    }
  
    fieldset {
        border: none;
  
        legend{
            font-weight: 600;
            font-size: 32px;
        }

    fieldset+fieldset {
        margin-top: 56px;
    }
    
    }
    
    input {
        border-radius: 5px;
        height: 56px;
        border: 1px solid #E1E3E5;
        padding: 16px 24px;
        
    }
}

.input-group{
    display: flex;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.separator{
    height: 2px;
    margin: 16px 0;
    background-color: #E1E3E5;
}

