.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.container {
    width: 100%;
    background-color: #f0f2f5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}